<section aria-label="{{ aria-label }}" class="lg:p-0 {{ class }}">
  <img alt="{{ image.alt }}"
       src="{{ image.url }}"
       class="object-fit shadow-xl mb-8">
  <div class="">
    <h3 class="text-white font-display my-8 text-lg w-full lg:w-3/5 uppercase">{{ title }}</h3>
    <div class="text-white font-body w-full lg:w-4/5 mb-8">
      {{breaklines description}}
    </div>
    <a href="{{ link }}" target="_blank" class="inline-block rounded-sm font-display text-white ring-1 ring-white p-4 hover:bg-white hover:bg-opacity-10">
      Listen now
    </a>
  </div>
</section>
