<section aria-label="{{ aria-label }}" class="grid grid-cols-1 md:grid-cols-2 my-16 lg:my-24 items-center gap-4 lg:p-0">
  <div>
    <h3 class="text-white font-display mb-8 text-lg w-full lg:w-2/5 uppercase">{{ title }}</h3>
    <img alt="{{ img-alt }}"
         src="{{ img-src }}"
         class="latest-release-img object-fit block mb-8 sm:hidden shadow-xl">
    <div class="text-white font-body w-full lg:w-4/5 mb-8">
      {{ body }}
    </div>
    <a href="{{ href }}" target="_blank" class="inline-block rounded font-display text-white ring-1 ring-white p-4 hover:bg-white hover:bg-opacity-10">
      Listen now
    </a>
  </div>
  <img alt="{{ img-alt }}"
       src="{{ img-src }}"
       class="latest-release-img object-fit hidden sm:block shadow-xl">
</section>
