<section aria-label="{{ aria-label }}" class="lg:p-0 grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-16 lg:gap-16 items-center">
  <img alt="{{ image.alt }}"
       src="{{ image.url }}"
       class="object-fit hidden shadow-xl sm:block mb-8">
  <div class="">
    <h3 class="text-white font-display mb-8 text-lg w-full uppercase">{{ title }}</h3>

    <img alt="{{ image.alt }}"
         src="{{ image.url }}"
         class="object-fit block mb-8 sm:hidden shadow-xl">

    <div class="text-white font-body w-full lg:w-4/5 mb-8">
      {{breaklines description}}
    </div>
    <a href="{{ link }}" target="_blank" class="inline-block rounded-sm font-display text-white ring-1 ring-white p-4 hover:bg-white hover:bg-opacity-10">
      Listen now
    </a>
  </div>
</section>
