<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg</title>
  </head>
  <body class="bg-primary">
    <div class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      {{> carousel }}
      <main class="" id="main">
        <section class="flex justify-center sm:justify-between flex-wrap p-4 lg:p-0">
          <div class="w-full sm:w-80 mt-16 lg:mt-24">
            <h3 class="mb-4 text-white font-display text-opacity-50">PROIN</h3>
            <div class="text-white font-body">
              Nulla mattis diam nisi, vel dapibus augue fermentum quis. Vivamus
              quis semper nisi. Maecenas vitae metus mi. Nulla eget finibus
              lorem.
            </div>
          </div>
          <div class="w-full sm:w-80 mt-16 lg:mt-24">
            <h3 class="mb-4 text-white font-display text-opacity-50">AENEAN</h3>
            <div class="text-white font-body">
              Etiam at velit dui. Vestibulum vestibulum ac lacus a porta. Proin vehicula ac
              ipsum quis pulvinar. Nunc dignissim scelerisque justo, ac imperdiet diam
              viverra in.
            </div>
          </div>
          <div class="w-full sm:w-80 mt-16 lg:mt-24">
            <h3 class="mb-4 text-white font-display text-opacity-50">VIVAMUS</h3>
            <div class="text-white font-body">
              Sed convallis in neque eget rhoncus. Integer volutpat eleifend
              purus vitae lobortis.
            </div>
          </div>
        </section>
        <section aria-label="Latest album" class="grid grid-cols-1 md:grid-cols-2 my-16 lg:my-44 items-center gap-4 p-4 lg:p-0">
          <div>
            <h3 class="text-white font-display mb-8 text-2xl w-full lg:w-2/5">{{ htmlWebpackPlugin.options.latestRelease.title }}</h3>
            <img alt="{{ htmlWebpackPlugin.options.latestRelease.image.alt }}"
                 src="{{ htmlWebpackPlugin.options.latestRelease.image.url }}"
                 class="latest-release-img object-fit block mb-8 sm:hidden shadow-xl">
            <div class="text-white font-body w-fulll md:w lg:w-4/5 mb-8">
              {{ htmlWebpackPlugin.options.latestRelease.description }}
            </div>
            <a href="{{ htmlWebpackPlugin.options.latestRelease.link }}" target="_blank" class="inline-block rounded font-display text-white ring-1 ring-white p-4 hover:bg-white hover:bg-opacity-10">
              Listen now
            </a>
          </div>
          <img alt="{{ htmlWebpackPlugin.options.latestRelease.image.alt }}"
               src="{{ htmlWebpackPlugin.options.latestRelease.image.url }}"
               class="latest-release-img object-fit hidden sm:block shadow-xl">
        </section>
      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>

