<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Per Christian Berg</title>
  </head>
  <body class="bg-primary">
    <div id="main" class="h-full mx-auto w-full lg:w-10/12 xl:w-8/12">
      {{> header }}
      {{> carousel }}
      <main class="">
        <section class="flex justify-center sm:justify-between flex-wrap p-4 lg:p-0">
          <div class="w-full sm:w-80 mt-16 lg:mt-24">
            <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Recording</h3>
            <div class="text-white font-body">
              I provide recording services. Working from the recording studio Audioskop. Good
              facilities with 3 recording rooms in various sizes and a great selection of
              microphones, preamps and other gear suited most recording needs.
            </div>
          </div>
          <div class="w-full sm:w-80 mt-16 lg:mt-24">
            <h3 class="mb-4 text-white font-display text-opacity-50 uppercase">Mix/mastering</h3>
            <div class="text-white font-body">
              I offer mixing/mastering services. Working with both digital and analog
              equipment. Visit the studio section for more information as well as a portfolio
              with various work I have done.
            </div>
          </div>
          <div class="w-full sm:w-80 mt-16 lg:mt-24">
            <h3 class="mb-4 text-white font-display text-opacity-50">Composing/Post-production</h3>
            <div class="text-white font-body">
              Composing music for various formats and post-production mixing and sound design.
            </div>
          </div>
        </section>
        <section aria-label="Latest album" class="grid grid-cols-1 md:grid-cols-2 my-16 lg:my-44 items-center gap-4 p-4 lg:p-0">
          <div>
            <h3 class="text-white font-display mb-8 text-2xl w-full lg:w-2/5">{{ htmlWebpackPlugin.options.latestRelease.title }}</h3>
            <img alt="{{ htmlWebpackPlugin.options.latestRelease.image.alt }}"
                 src="{{ htmlWebpackPlugin.options.latestRelease.image.url }}"
                 class="latest-release-img object-fit block mb-8 sm:hidden shadow-xl">
            <div class="text-white font-body w-full lg:w-4/5 mb-8">
              {{ htmlWebpackPlugin.options.latestRelease.description }}
            </div>
            <a href="{{ htmlWebpackPlugin.options.latestRelease.link }}" target="_blank" class="inline-block rounded font-display text-white ring-1 ring-white p-4 hover:bg-white hover:bg-opacity-10">
              Listen now
            </a>
          </div>
          <img alt="{{ htmlWebpackPlugin.options.latestRelease.image.alt }}"
               src="{{ htmlWebpackPlugin.options.latestRelease.image.url }}"
               class="latest-release-img object-fit hidden sm:block shadow-xl">
        </section>
      </main>
      {{> footer }}
    </div>
    {{> menu }}
  </body>
</html>

